body
{
background-color:black;
}
audio:focus {
    outline: none;
}
.carousel
{
height:300px;
perspective:800px;
}
.carousel .carousel-item
{
width:300px;
height:300px;
min-height:100px;
position:absolute;
top:0;
left:0;
}
img
{
border-radius:20px;
}
#song-search
{
color:white;
text-align:center;
}
#song-search:focus
{
text-align:center;
}
.play
{
border-radius:10px;
background-color:black;
color:white;
display:block;
margin-left:auto;
margin-right:auto;
}
.play:focus
{
border-radius:10px;
background-color:black;
color:white;
display:block;
margin-left:auto;
margin-right:auto;
}
#playing-song
{
margin-top:10px;
display:block;
margin-left:auto;
margin-right:auto;
}
#text
{
display:flex;
justify-content:space-between;
}
#empty
{
width:30%;
}
#p
{
width:30%;
text-align:center;
}
#search
{
width:30%;
}
#song_name
{
color:white;
}
#artist_name
{
color:white;
}
#upload{
font-family:Segoe Script;
font-weight:600;
font-size:200%;
text-align:center;
}
#playing
{
display:flex;
justify-content:space between;
}
#play{
font-family:Georgia;
}
#playq{
font-family:Georgia;
}
#play:hover{
color:black;
background-color:white;
}
#playq:hover{
color:black;
background-color:white;
}
